
.a3 {
  height: 100vh;
}
body {
  background-color: rgba(214, 158, 74, 0.541);
}
.screen,
.login {
  height: 100vh;
  background-color: plum;
}

.screen {
  background: linear-gradient(to bottom, #d439b385, #1d2571aa),
    url("../public/kk.png") no-repeat;
  background-position: center;
  background-size: cover;
}