.sidebar {
  background-color: black;
  color: plum;
  height: 100%;
  width: 100%;
  font-size: x-large;
  padding: 20px;
  
}

body {
  background-color: rgba(214, 158, 74, 0.541);
}
.screen,
.login {
  height: 100vh;
  background-color: plum;
}

.screen {
  background: linear-gradient(to bottom, #d439b385, #1d2571aa),
    url("../public/img/kk.png") no-repeat;
  background-position: center;
  background-size: cover;
}

.astonmartin {
  background: 
  url("../public/img/Aston-Martin-car-.avif") no-repeat;
  height: 690px;
  width: 100%;
}
.bentley {
  background: 
  url("../public/img/Bentley-car.avif") no-repeat;
  height: 490px;
  width: 100%;
}
.bugatti {
  background: 
  url("../public/img/Bugatti.avif") no-repeat;
  height: 490px;
  width: 100%;
}
.astonmartin {
  background: 
  url("../public/img/Aston-Martin-car-.avif") no-repeat;
  height: 690px;
  width: 100%;
}
.astonmartin {
  background: 
  url("../public/img/Aston-Martin-car-.avif") no-repeat;
  height: 690px;
  width: 100%;
}
.astonmartin {
  background: 
  url("../public/img/Aston-Martin-car-.avif") no-repeat;
  height: 690px;
  width: 100%;
}
.astonmartin {
  background: 
  url("../public/img/Aston-Martin-car-.avif") no-repeat;
  height: 690px;
  width: 100%;
}
.astonmartin {
  background: 
  url("../public/img/Aston-Martin-car-.avif") no-repeat;
  height: 690px;
  width: 100%;
}
.astonmartin {
  background: 
  url("../public/img/Aston-Martin-car-.avif") no-repeat;
  height: 690px;
  width: 100%;
}
.astonmartin {
  background: 
  url("../public/img/Aston-Martin-car-.avif") no-repeat;
  height: 690px;
  width: 100%;
}